@model FuncionariosPorSetorViewModel
@{
    ViewData["Title"] = "Funcionários";
}
@functions {
    public string GetPrimeiroEUltimoNome(string nomeCompleto)
    {
        if (string.IsNullOrWhiteSpace(nomeCompleto))
            return "";

        var partes = nomeCompleto.Trim().Split(' ');

        if (partes.Length == 1)
            return partes[0];

        return $"{partes[0]} {partes[^1]}";
    }
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.theme.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<link href="~/css/Funcionarios/setores-funcionarios.css" rel="stylesheet" />
<script src="~/js/Funcionarios/setores-funcionarios.js" defer></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous" defer></script>
<title>Funcionários</title>


@if (TempData["MensagemSucesso"] != null)
{
    <div id="successAlert" class="custom-alert success">
        <span><strong>Sucesso!</strong> @TempData["MensagemSucesso"]</span>
        <span class="closebtn" onclick="closeAlert('successAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
        document.getElementById("successAlert").style.display = 'none';
        }, 5000);
    </script>
}

@if (TempData["MensagemErro"] != null)
{
    <div id="errorAlert" class="custom-alert error">
        <span><strong>Atenção!</strong> @TempData["MensagemErro"]</span>
        <span class="closebtn" onclick="closeAlert('errorAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
        document.getElementById("errorAlert").style.display = 'none';
        }, 5000);
    </script>
}

<section class="sessao-setores">
    <form asp-controller="Funcionarios" asp-action="Index" method="get" class="form-inline mb-4 text-center filtro p-4 border-2 " id="id-filtro-func">
        <h1>Funcionários</h1>
        <div class="flex-form">
            <input type="hidden" name="id" value="@Model.SetorId" />
            <div class="flex-input-group filtro-content">
                <div class="form-floating mb-3">
                    @Html.DropDownList(
                                               "cargo",
                                               ViewBag.CargosOpcoes as SelectList,
                                               "Todos os Cargos",
                                               new { @class = "form-select", id = "floatingCategoria" }
                                               )
                    <label for="floatingCategoria">Categorias</label>
                </div>

                <div class="form-floating mb-3">
                    @Html.DropDownList(
                                               "ativo",
                                               ViewBag.StatusOpcoes as SelectList,
                                               "Todos",
                                               new { @class = "form-select", id = "floatingCategoria" }
                                               )
                    <label for="floatingAtivo">Status</label>
                </div>
            </div>
            <div class="flex-input-two filtro-content">
                <div class="form-floating mb-3">
                    <input name="searchString" value="@ViewBag.SearchString" type="text" class="form-control" id="floatingInput" placeholder="Buscar setor...">
                    <label for="floatingInput">Buscar setor...</label>
                </div>                
                <a href="@Url.Action("Cadastrar", "Funcionarios", new { setorId = Model.SetorId, setorNome = Model.NomeSetor})" class="botao-adicionar mb-2" style="color:white;">
                    <span>
                        <i class="bi bi-person-fill-add"></i>
                        Cadastrar
                    </span>
                </a>
                <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml"
                view-data='@new ViewDataDictionary(ViewData) {
                         { "Texto", "Filtrar" },
                         { "Url", "" },
                         { "ClasseExtra", "btn-filtrar" },
                         { "Id", "" },
                         { "Type", "submit" },
                         { "Elemento", "button" }
                     }' />
            </div>
            @* <button type="button" class="btn-fechar" id="toggle-filtro-func">˄</button> *@
        </div>

    </form>

    @if (Model.QuantidadeFuncAtivos == 0 && Model.QuantidadeFuncInativos == 0)
    {
        <div class="flex-mensagem-inativo">
            <div class="box-mensegem-inativo">
                <h1>Nenhum Funcionário Disponível</h1>
                <p>Infelizmente, não há funcionários vinculados a esse setor no momento. Por favor, volte em outro momento ou entre em contato com o administrador para obter mais informações.</p>
                <partial name="~/Views/Componentes/Botao-Primario/BotaoPrimario.cshtml" view-data=@(new ViewDataDictionary(ViewData){
                     { "Texto", "Voltar a Sessão" },
                     { "Url", "/Setores" },
                     { "ClasseExtra", "" },
                     { "Id", "" },
                     { "Type", "" },
                     { "elemento", "a"}
                     }) />
            </div>
        </div>
    }
    else
    {
        <div class="flex-sessao-funcionarios" id="conteudo-funcionarios">
            <div class="flex-titulo-card-funcionarios">
                <h2 class="titulo-categoria">@Model.NomeSetor</h2>
                <div class="flex-info-card-func">

                    @if (Model.QuantidadeFuncAtivos > 0 && Model.QuantidadeFuncInativos == 0)
                    {
                        @if (Model.QuantidadeFuncAtivos > 1)
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativos</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativo</span>
                                </p>
                            </div>
                        }
                    }
                    else if (Model.QuantidadeFuncInativos > 0 && Model.QuantidadeFuncAtivos == 0)
                    {
                        @if (Model.QuantidadeFuncInativos > 1)
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativos</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-red"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativo</span>
                                </p>
                            </div>
                        }
                    }
                    else if (Model.QuantidadeFuncAtivos > 0 && Model.QuantidadeFuncInativos > 0)
                    {
                        @if (Model.QuantidadeFuncAtivos > 1 && Model.QuantidadeFuncInativos == 1)
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativos</span>
                                </p>
                                <p>
                                    <span class="status-red"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativo</span>
                                </p>
                            </div>
                        }
                        else if (Model.QuantidadeFuncAtivos == 1 && Model.QuantidadeFuncInativos > 1)
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativo</span>
                                </p>
                                <p>
                                    <span class="status-red"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativos</span>
                                </p>
                            </div>
                        }
                        else if (Model.QuantidadeFuncAtivos > 1 && Model.QuantidadeFuncInativos > 1)
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativos</span>
                                </p>
                                <p>
                                    <span class="status-red"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativos</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="flex-status">
                                <p>
                                    <span class="status-green"></span>
                                    <span class="status">@Model.QuantidadeFuncAtivos Ativo</span>
                                </p>
                                <p>
                                    <span class="status-red"></span>
                                    <span class="status">@Model.QuantidadeFuncInativos Inativo</span>
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="p-func">Nenhum funcionário encontrado</p>
                    }
                </div>

            </div>
            <div class="flex-body-funcionarios">
                @foreach (var funcionario in Model.Funcionarios)
                {
                    var acaoHtml = funcionario.Ativo == 'S'
                    ? $"<a role='button' class='rota-btn' data-bs-toggle='modal' data-bs-target='#modalDesativarFuncionario' func-id='{funcionario.Id}' func-nome='{funcionario.Nome}' data-setor='{funcionario.SetorId}'>Desativar</a>"
                    : $"<a role='button' class='rota-btn' data-bs-toggle='modal' data-bs-target='#modalReativarFuncionario' data-id='{funcionario.Id}' data-nome='{funcionario.Nome}' data-setor='{funcionario.SetorId}'>Reativar</a>";

                    var popoverHtmlTransf = funcionario.Ativo == 'S' ? $"<a role='button' class='rota-btn' data-bs-toggle='modal' data-bs-target='#modalMoverFuncionario' funcId-movido='{funcionario.Id}' funcNome-movido='{funcionario.Nome}' data-setor='{funcionario.SetorId}'>Mover Funcionário</a>" : "";

                    var popoverHtml = $@"
                    <div class='flex-popover'>
                    <button type='button' class='close-btn btn btn-sm' style='float:right;'>&times;</button>
                    <div class='mt-3'>
                    <a class='rota-btn editar-func' href='/Funcionarios/Editar/{funcionario.Id}?setorId={Model.SetorId}&setorNome={Model.NomeSetor}'> Editar </a><br/>
                    {acaoHtml}<br/>
                    {popoverHtmlTransf}
                    </div>
                    </div>";

                    <div class="card-funcionario @(funcionario.Ativo != 'S' ? "inativo" : "ativo")">

                        <div class="flex-imagem-funcionario">
                            <div class="flex-botao-edition">
                                <button type="button"
                                    class="btn-popover"
                                    data-bs-toggle="popover"
                                    data-bs-placement="right"
                                    data-bs-html="true"
                                    data-id="@funcionario.Id"
                                    data-bs-content="@popoverHtml">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                    </svg>
                                </button>
                            </div>
                            @if (funcionario.Sexo == 'F')
                            {
                                <img src="https://i.ibb.co/WWT61zQb/image-removebg-preview.png" alt="Responsável" class="small-avatar" />
                            }
                            @if (funcionario.Sexo == 'M')
                            {
                                <img src="https://i.ibb.co/DPymZqqd/image-removebg-preview-1.png" alt="Responsável" class="small-avatar" />
                            }
                        </div>
                        <div class="flex-body-card">
                            @if (funcionario.Ativo == 'S')
                            {
                            <div class="flex-onda"></div>

                           
                                <div class="body-card ">
                                    <p><span>Nome</span> <span class="card-dado">@GetPrimeiroEUltimoNome(funcionario.Nome)</span></p>
                                    <p><span>Cargo</span> <span class="card-dado">@funcionario.Cargo</span></p>
                                    <p><span>Email</span> <span class="card-dado">@funcionario.Email</span></p>
                                    <p><span>Telefone</span> <span class="card-dado">@funcionario.Celular</span></p>
                                    <p><span>Ativo</span> <span class="card-dado">@(funcionario.Ativo == 'S' ? "Sim" : "Não")</span></p>
                                    <partial name="~/Views/Componentes/Botao-Secundario/BotaoSecundario.cshtml"
                                    view-data='@new ViewDataDictionary(ViewData) {
                                         { "Texto", "Detalhar" },
                                         { "Url", "/Funcionarios" },
                                         { "ClasseExtra", "btn-detalhar" },
                                         { "Id", "botaoDetalhar" },
                                         { "Type", "button" },
                                         { "Elemento", "button" },
                                         { "Atributos", new Dictionary<string, string> {
                                             { "data-bs-toggle", "modal" },
                                             { "data-bs-target", $"#modal-{funcionario.Id}" },
                                             { "aria-expanded", "false" }
                                         }}
                                     }' />
                                </div>
                            }
                            else
                            {
                                <div class="flex-onda-inativo"></div>
                                <div class="body-card-inativo placeholder-glow" >
                                    <p aria-hidden="true"><span class="placeholder " style="width: auto;">Nome</span> <span class="placeholder" style="width: auto;">@GetPrimeiroEUltimoNome(funcionario.Nome)</span></p>
                                    <p aria-hidden="true"><span class="placeholder " style="width: auto;">Cargo</span> <span class="placeholder " style="width: auto;">@funcionario.Cargo</span></p>
                                    <p aria-hidden="true"><span class="placeholder " style="width: auto;">Email</span> <span class="placeholder " style="width: auto;">@funcionario.Email</span></p>
                                    <p aria-hidden="true"><span class="placeholder " style="width: auto;">Telefone</span> <span class="placeholder " style="width: auto;">@funcionario.Celular</span></p>
                                    <p aria-hidden="true"><span class="placeholder " style="width: auto;">Ativo</span> <span class="placeholder " style="width: auto;">@(funcionario.Ativo == 'S' ? "Sim" : "Não")</span></p>
                                    <partial name="~/Views/Componentes/Botao-Secundario/BotaoSecundario.cshtml"
                                             view-data='@new ViewDataDictionary(ViewData) {
                                         { "Texto", "Funcionário Inativo" },
                                         { "Url", "#" },
                                         { "ClasseExtra", "btn-detalhar-inativo" },
                                         { "Id", "botaoDetalhar" },
                                         { "Type", "button" },
                                         { "Elemento", "button" }
                                     }' />
                                </div>
                            }

                        </div>
                    </div>
                    <div  class="modal fade" id="modal-@funcionario.Id" tabindex="-1" aria-labelledby="modalLabel-@funcionario.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg-custom modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalLabel-@funcionario.Id">Ficha Cadastral do(a) Funcionário(a)</h1>
                                    <button type="button"
                                            class="btn btn-sm btn-warning"
                                            id="btnImprimir"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-title="Exportar Ficha do Funcionário"
                                            onclick="exportarFichaFuncionario(@funcionario.Id)">
                                        <i class="bi bi-printer" style="font-size:17px"></i>
                                    </button>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="ficha-@funcionario.Id">
                                        <div class="container-fluid">
                                        <div class="row g-4">
                                            <div class="col-md-6">
                                                <div class="categoria">
                                                    <h5><i class="fa fa-user-circle" aria-hidden="true"></i> Informações Pessoais</h5>
                                                    <p><strong>Nome:</strong> @funcionario.Nome</p>
                                                    <p><strong>Data de Nascimento:</strong> @funcionario.DataNascimento.ToString("dd/MM/yyyy")</p>
                                                    <p><strong>Sexo:</strong> @funcionario.Sexo</p>
                                                    <p><strong>Raça:</strong> @funcionario.RacaNav?.Raca</p>
                                                    <p><strong>Estado Civil:</strong> @funcionario.EstadoCivilNav?.EstadoCivil</p>
                                                    <p><strong>Nome da Mãe:</strong> @funcionario.NomeMae</p>
                                                    <p><strong>Naturalidade:</strong> @funcionario.Naturalidade</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="categoria">
                                                    <h5><i class="fa fa-home" aria-hidden="true"></i> Endereço</h5>
                                                    <p><strong>Endereço:</strong> @funcionario.Endereco</p>
                                                    <p><strong>Cidade:</strong> @funcionario.CidadeResidencia</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="categoria">
                                                    <h5><i class="fa fa-phone" aria-hidden="true"></i> Contato</h5>
                                                    <p><strong>Email:</strong> @funcionario.Email</p>
                                                    <p><strong>Telefone:</strong> @funcionario.Celular</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="categoria">
                                                    <h5><i class="fa fa-briefcase" aria-hidden="true"></i> Detalhes Profissionais</h5>
                                                    <p><strong>Cargo:</strong> @funcionario.Cargo</p>
                                                    <p><strong>Salário:</strong> R$ @funcionario.Salario.ToString("N2")</p>
                                                    <p><strong>Data de Ingresso:</strong> @funcionario.DataIngresso.ToString("dd/MM/yyyy")</p>
                                                    <p><strong>Dias Trabalhados:</strong> @funcionario.DiasTrabalhados</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="categoria">
                                                    <h5><i class="fa fa-calendar" aria-hidden="true"></i> Datas Importantes</h5>
                                                    <p><strong>Data de Cadastro:</strong> @funcionario.DataCadastro.ToString("dd/MM/yyyy")</p>
                                                    <p><strong>Data de Atualização:</strong> @funcionario.DataAtualizacao?.ToString("dd/MM/yyyy")</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</section>
<!-- modal desativar funcíonário -->
<div class="modal fade" id="modalDesativarFuncionario" tabindex="-1" aria-labelledby="modalDesativarFuncionarioLabel" aria-hidden="true" style="z-index:100000001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="modalDesativarFuncionarioLabel" style="font-weight:bold">Desativar Funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Tem certeza que deseja desativar o funcionário <span id="modalUserName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="confirmDesativeButton" role="button" class="btn btn-danger">Desativar</a>
            </div>
        </div>
    </div>
</div>

<!-- modal reativar funcíonário -->
<div class="modal fade" id="modalReativarFuncionario" tabindex="-1" aria-labelledby="modalReativarFuncionarioLabel" aria-hidden="true" style="z-index:100000001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="modalReativarFuncionarioLabel" style="font-weight:bold">Reativar Funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Tem certeza que deseja Reativar o funcionário <span id="modalUserNameReativo"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="confirmReativeButton" role="button" class="btn btn-primary">Reativar</a>
            </div>
        </div>
    </div>
</div>

<!-- modal mover funcíonário -->
<div class="modal fade" id="modalMoverFuncionario" tabindex="-1" aria-labelledby="modalMoverFuncionarioLabel" aria-hidden="true" style="z-index:100000001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="modalMoverFuncionarioLabel" style="font-weight:bold">Mover Funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Selecione para que setor <span id="modalUserNameMovido"></span> será movido:
                <form method="post" asp-controller="Funcionarios" asp-action="Mover">
                    <select asp-for="SetorId" class="form-select" asp-items="ViewBag.Setores">
                        <option value="">Selecione</option>
                    </select>
                    <span asp-validation-for="SetorId" class="text-danger"></span>

                    <input type="hidden" name="id" id="inputIdFuncionarioMovido" />
                    <button class="btn btn-dark" type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#modalMoverFuncionario"
                            style="margin-top: 1.5rem;">
                        Cancelar
                    </button>
                    <button type="submit" id="confirmMovidoButton" class="btn btn-success" style="margin-top: 1.5rem;">Mover Funcionário</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (event) {
            if (event.target.matches("[data-bs-target='#modalDesativarFuncionario']")) {
                var button = event.target;
                var funcId = button.getAttribute('func-id');
                var funciNome = button.getAttribute('func-nome');
                var setorId = button.getAttribute('data-setor');
                var modalUserName = document.getElementById('modalUserName');
                var confirmDesativeButton = document.getElementById('confirmDesativeButton');

                if (modalUserName && funciNome) {
                    modalUserName.textContent = funciNome;
                }
                if (confirmDesativeButton && funcId && setorId) {
                    confirmDesativeButton.href = '/Funcionarios/Desativar/' + funcId + '?setorId=' + setorId;
                }
            }
        });
    });

    document.addEventListener("click", function (event) {
        if (event.target.matches("[data-bs-target='#modalReativarFuncionario']")) {
            var button = event.target;
            var funcIdReativo = button.getAttribute('data-id');
            var funcNomeReativo = button.getAttribute('data-nome');
            var setorId = button.getAttribute('data-setor');
            var modalUserNameReativo = document.getElementById('modalUserNameReativo');
            var confirmReativeButton = document.getElementById('confirmReativeButton');

            if (modalUserNameReativo && funcNomeReativo) {
                modalUserNameReativo.textContent = funcNomeReativo;
            }
            if (confirmReativeButton && funcIdReativo && setorId) {
                confirmReativeButton.href = '/Funcionarios/Reativar/' + funcIdReativo + '?setorId=' + setorId;
            }
        }
    });

        document.addEventListener("click", function (event) {
        if (event.target.matches("[data-bs-target='#modalMoverFuncionario']")) {
            var button = event.target;
            var funcIdMovido = button.getAttribute('funcId-movido');
            var funcNomeMovido = button.getAttribute('funcNome-movido');

            var modalUserNameMovido = document.getElementById('modalUserNameMovido');
            var inputIdFuncionarioMovido = document.getElementById('inputIdFuncionarioMovido');

            if (modalUserNameMovido && funcNomeMovido) {
                modalUserNameMovido.textContent = funcNomeMovido;
            }

            if (inputIdFuncionarioMovido && funcIdMovido) {
                inputIdFuncionarioMovido.value = funcIdMovido;
            }
        }
    });
</script>