@using Microsoft.AspNetCore.Http
@model ExtratoPontoModel
@{
    <title>@ViewData["Title"] </title>
    var horario = ViewBag.Horario as TimeOnly?;
}
@functions {
    public string GetPrimeiroEUltimoNome(string nomeCompleto)
    {
        if (string.IsNullOrWhiteSpace(nomeCompleto))
            return "";

        var partes = nomeCompleto.Trim().Split(' ');

        if (partes.Length == 1)
            return partes[0];

        return $"{partes[0]} {partes[^1]}";
    }
}

<link href="~/css/ExtratosPonto/extratosponto.css" rel="stylesheet" />

@if (TempData["MensagemSucesso"] != null)
{
    <div id="successAlert" class="custom-alert success">
        <span><strong>Sucesso!</strong> @TempData["MensagemSucesso"]</span>
        <span class="closebtn" onclick="closeAlert('successAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
        document.getElementById("successAlert").style.display = 'none';
        }, 5000);
    </script>
}

@if (TempData["MensagemErro"] != null)
{
    <div id="errorAlert" class="custom-alert error">
        <span><strong>Atenção!</strong> @TempData["MensagemErro"]</span>
        <span class="closebtn" onclick="closeAlert('errorAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
        document.getElementById("errorAlert").style.display = 'none';
        }, 5000);
    </script>
}

<section class="flex-sessao-extratoponto">
    <form id="formBatida" asp-controller="ExtratosPonto" asp-action="RegistrarPonto" method="post">
        <div class="flex-btn-ponto">
            <div id="btnBaterPonto" class="btn-bater-ponto">
                <button type="button">Arraste para lado</button>
            </div>
        </div>
    </form>
    <div class="flex-espelhoponto">
        <div>

        @if (horario >= new TimeOnly(5, 0) && horario < new TimeOnly(11, 0))
        {
            <div class="flex-titulo-card-espelhoponto">
                <h2>Bom dia, @GetPrimeiroEUltimoNome(@ViewBag.NomeCompleto) <span>😊</span> </h2>
                <p class="me-2">Registre seu ponto.</p>
            </div>
         
        }
        else if (horario >= new TimeOnly(11, 0) && horario < new TimeOnly(17, 30))
        {
             <div class="flex-titulo-card-espelhoponto">
                <h2>Boa tarde, @GetPrimeiroEUltimoNome(@ViewBag.NomeCompleto) <span>😊</span></h2>
                 <p class="me-2">Registre seu ponto.</p>
              </div>
        }
        else
        {
            <div class="flex-titulo-card-espelhoponto">
                <h2>Boa noite, @GetPrimeiroEUltimoNome(@ViewBag.NomeCompleto) <span>😊</span></h2>
                <p class="me-2">Registre seu ponto e até amanhã.</p>
            </div>
        }
        <div class="onda-espelhoponto"></div>
        </div>
        @if (ViewBag.ExtratoHoje != null)
        {
            var ponto = ViewBag.ExtratoHoje;
            <div class="card-espelhopontohoje">
                <div class="subox-espelhoponto">
                    <div>
                        <h2>Entrada 1</h2>
                        <p>@(ponto.HoraEntrada1?.ToString("HH:mm") ?? "-")</p>
                    </div>
                    <div>
                        <h2>Saída 1</h2>
                        <p>@(ponto.HoraSaida1?.ToString("HH:mm") ?? "-")</p>
                    </div>
                </div>
                 <div class="subox-espelhoponto">
                    <div>
                        <h2>Entrada 2</h2>
                        <p>@(ponto.HoraEntrada2?.ToString("HH:mm") ?? "-")</p>
                    </div>
                    <div>
                        <h2>Saída 2</h2>
                        <p>@(ponto.HoraSaida2?.ToString("HH:mm") ?? "-")</p>
                    </div>
                </div>
                  <div class="subox-espelhoponto flex-justificativa">
                    <div>
                        <h2>Justificativa</h2>
                        <p>@(ponto.Justificativa ?? "-")</p>
                    </div>
                </div>
            </div>
       
        }
        else
        {
            <p style="z-index: 100;">Nenhum registro de ponto encontrado para hoje.</p>
        }

        
    </div>
</section>

<script>
    const btn = document.getElementById('btnBaterPonto');
    const btnText = btn.querySelector('button');
    const form = document.getElementById('formBatida');

    let startX = null, isDragging = false;

    btn.addEventListener('mousedown', function (e) {
        startX = e.clientX;
        isDragging = false;
        btn.classList.remove('batidada');
        btn.classList.add('ativo');
        btnText.textContent = 'Segure e arraste';
    });

    window.addEventListener('mousemove', function (e) {
        if (startX === null) return;

        const diff = e.clientX - startX;
        if (Math.abs(diff) > 50 && !isDragging) {
            isDragging = true;
            btn.classList.remove('ativo');
            btn.classList.add('batidada');
            btnText.textContent = 'Ponto registrado';


            setTimeout(() => {
                form.submit();
            }, 300);
        }
    });

    window.addEventListener('mouseup', function () {
        if (startX !== null && !isDragging) {
            resetBtn();
        }
        startX = null;
    });

    function resetBtn() {
        btn.classList.remove('ativo', 'batidada');
        btnText.textContent = 'Clique no botão para bater o ponto';
    }
</script>