@model List<ConfiguracoesModel>
@{
    ViewData["Title"] = "Configurações";
}

<link href="~/css/Configuracoes/configuracoes.css" rel="stylesheet" />

@if (TempData["MensagemSucesso"] != null)
{
    <div id="successAlert" class="custom-alert success">
        <span><strong>Sucesso!</strong> @TempData["MensagemSucesso"]</span>
        <span class="closebtn" onclick="closeAlert('successAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
            document.getElementById("successAlert").style.display = 'none';
        }, 5000);
    </script>
}

@if (TempData["MensagemErro"] != null)
{
    <div id="errorAlert" class="custom-alert error">
        <span><strong>Atenção!</strong> @TempData["MensagemErro"]</span>
        <span class="closebtn" onclick="closeAlert('errorAlert')">&times;</span>
    </div>
    <script>
        setTimeout(() => {
            document.getElementById("errorAlert").style.display = 'none';
        }, 5000);
    </script>
}

<a asp-controller="Configuracoes" asp-action="Criar" class="btn btn-primary mb-3">Nova Configuração</a>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card text-bg-dark mb-3" >
                <div class="card-header">@item.NomeConfiguracao</div>
                <div class="card-body">
                    <h5 class="card-title">Horários</h5>
                    <p class="card-text">
                        <strong>Início:</strong> @item.InicioExpediente<br />
                        <strong>Intervalo:</strong> @item.IntervaloInicio - @item.IntervaloFim<br />
                        <strong>Fim:</strong> @item.FimExpediente<br />
                        <strong>Status:</strong>
                        @if (item.Ativo)
                        {
                            <span class="status-ativo">Ativa</span>
                        }
                        else
                        {
                            <span class="status-inativo">Inativa</span>
                        }
                    </p>
                    <div class="d-flex justify-content-between mt-3">
                        @if (!item.Ativo)
                        {
                            <a class="btn btn-sm btn-success" href="@Url.Action("Ativar", new { id = item.Id })">Ativar</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-danger" href="@Url.Action("Desativar", new { id = item.Id })">Desativar</a>
                        }
                        <a class="btn btn-sm btn-outline-light" href="@Url.Action("Editar", new { id = item.Id })">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
